.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background: var(--bg);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.card-grid {
  list-style: none;
  margin: 2em 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 48px;
}
.card-image {
  max-height: 150px;
}
.card-image  img {
      margin: 5px;
      min-height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }