.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background: var(--bg);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.card-grid {
  list-style: none;
  height: 30rem auto;
  width: 30rem auto;
  margin: 2em 10%;
  display: grid;
  grid-template-columns: 200px repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
   
}
.card-image {
  max-height: 150px;
}
.card-image  img {
      margin: 5px;
      height: 9rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }
.card-grid h2{
  margin-top: 5px;
  font-size: 20px;
}
.card-grid a{
  background-color: black;
  color: white;
  border: white;
  padding: 5px;
  border-radius: 5px;
}
.bloco{
  margin-top: 5rem;
}